:root {
  --global-font-family:                            -apple-system, Tahoma, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --global-font-size:                              12px;
  --global-line-height:                            1.5;

  --global-color:                                  #000000;
  --global-muted-color:                            #969696;
/* Закоментированные свойста не знаю где брать значения */
  --global-link-color:                             #24b6e1;
  --global-link-hover-color:                       #24b6e1;

  --global-inverse-color:                          #ffffff;

  --global-background:                             #ffffff;

  /* --global-muted-background:                       #f8f8f8;
  --global-primary-background:                     #1e87f0;
  --global-secondary-background:                   #222; */

  --global-success-background:                     #ffffff;
  --global-warning-background:                     red;
  --global-danger-background:                      red;

  --global-border-width:                           1px;
  --global-border:                                 #c8c8c8;

  --global-margin:                                 20px;

  /* --global-gutter:                                 30px; */

  --global-control-height:                         26px;
}
